.footer {
  text-align: center;
  padding: 20px 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  &__logo {
    max-width: 100px;
  }

  &__txt {
    margin: auto;
    @include fontSize(14px);
    //Este trecho de estilo posiciona o footer na parte de baixo da tela
    //Comentário básico não aparece no css
  }
}
